body{
    padding:50px;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.video{
    border:1px solid #eee;
    cursor: default;
}

.controls{
    width:425px;
    height:60px;
}

.buttons{
    float:left;
    width:125px;
}

input[type='button']{
    width:50px;
    height:50px;
    margin:3px;
    border:0px #fff solid;
    box-shadow:0;
    padding:0px;
    background-color:#fff;
    opacity: .5;
    background-repeat:no-repeat;
}

input[type='button']:hover{
    border:0px #aaa solid;
    border-radius:25px;
    opacity: .7;
}

input[type='button']:active{
    border:0px #444 solid;
    border-radius:25px;
    opacity:1;
}
input[type='button']:focus{
    border:0px #444 solid;
    border-radius:25px;
    opacity:1;
}

.timeControls{
    float:right;
    width:375px;
}

#slider{
    width:300px;
    float:left;
    margin-top:20px;
    margin-left:10px;
}

.time{
    margin-top:20px;
    float:left;
    width:50px;
    text-align:right;
}

#slider .tick {
    z-index:1;
    background: #4f3;
    border: none;
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0%;
    opacity: .3;
}

#slider .ui-slider-handle {
    width: .6em;
    border: none;
    background: #999;
    height: 100%;
    top: 0;
    margin-left: -.3em;
}

.pause{
    background-image: url('http://web.mit.edu/lilis/www/videolec/pause.png');
}

.start{
    background-image: url('http://web.mit.edu/lilis/www/videolec/play.png');
}

.stop{
    background-image: url('http://web.mit.edu/lilis/www/videolec/stop.png');
}

#totalTime{
    margin-top:20px;
    float:right;
    width: 100px;
}

.jumpBack{
    width:25px;
    margin:1px;
}

.jumpForward{
    width:25px;
    margin:1px;
}

.onScreenStatus{
    position: absolute;
    z-index:5;
    visibility: hidden;
}

.sidecontrols{
    display:inline-block;
    margin-left:10px;
}

.zoomlabel{
    font-family: monospace;
    position:absolute;
    z-index:1;
    text-align: center;
    margin-left:3px;
    padding:1px;
}

#zoomlabel{
    position:absolute;
    height:15px;
}

.zoomControls{
    height: 50%;
    margin-bottom:20px;
}

#toggleDrag{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.toggleControls{
    margin-top:20px;
    margin-bottom:10px;
    font-size: 12px;
}

.toggleControls .left{
    margin-top:3px;
    float: left;
    width: 50%;
}

.toggleControls .right{
    float:right;
    width:40%;
    margin-left:10%;
    color: #aaa;
}

.toggleControls .right .labels{
    position:absolute;
    margin-left:17px;
}

.labels#zoom{
    margin-top: 23px;
}

.labels#pan{
    margin-top:3px;
    color: #000;
}